<% if @user.errors.any? %>
<div class="alert alert-danger">
  <%= @user.errors.full_messages.to_sentence %>
</div>
<% end %>
<div class="form-group">
  <%= f.label :email, "*Email Id:", :class => "col-lg-2 control-label" %>
  <div class="col-lg-5">
    <%= f.email_field :email, :autofocus => true, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :first_name, "*First Name:", :class => "col-lg-2 control-label" %>
  <div class="col-lg-5">
    <%= f.text_field :first_name, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :last_name, "Last Name:", :class => "col-lg-2 control-label" %>
  <div class="col-lg-5">
    <%= f.text_field :last_name, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :phone1, "*Mobile:", :class => "col-lg-2 control-label" %>
  <div class="col-lg-5">
    <%= f.telephone_field :phone1, :class => "form-control" %>
    <%= f.hidden_field :role  %>
  </div>
</div>
<div class="form-group">
  <%= f.label :phone2, "Phone:", :class => "col-lg-2 control-label" %>
  <div class="col-lg-5">
    <%= f.telephone_field :phone2, :class => "form-control" %>
  </div>
</div>

<div class="form-group">
  <label class="col-lg-2 control-label">&nbsp;</label>
  <div class="col-lg-5">
    <%= f.submit "Save/Update changes", :class => "btn btn-primary"%>
   <!-- <button type="reset" class="btn btn-default">Cancel</button> -->
    <%= f.submit "Cancel", :class => "btn btn-default" %>
  </div>
</div>


