<div class="row">
  <div class="add-new"><%= link_to "New Student", new_user_path(:user_type => params["user_type"]) %></div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="text-muted bootstrap-admin-box-title"><%= @user_type ? @user_type.humanize.pluralize : "Users" %></div>
        <div class="pull-right"><span class="badge"> <%= @users && @users.size > 0 ? @users.size : 0 %> </span></div>
    </div>
    <div class="bootstrap-admin-panel-content">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Email Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Mobile</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
              <tr>
                <td><%= user.email %></td>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.phone1 %></td>
                <td><%= user.phone2 %></td>
                <td>
                  <%= link_to "Edit", edit_user_path(user) %> | 
                  <%= link_to "Delete", user_path(user), :method => :delete, :data => { :confirm => "Are you sure to delete '#{user.first_name}'?" }   %>
                </td>
              </tr>
              <% end %>
            </tbody>
        </table>
    </div>
</div>
</div>
